@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

html,body{
    margin:0;
    padding:0;
    min-height: 100vh;
    color:$body-font-color;
    background:$body-bg-color;
    font-size:$mobile-body-font-size;
    font-family: $body-fontfamily;
    transition: background .3s;
    @include breakpoint(md){
      font-size:$body-font-size;
    }
}

#main{
  overflow-x: hidden;
  min-height: 100vh;
  @include column;
  justify-content: space-between;
}
.wrapper{
  @include column;
  align-items: center;
}
.row{
  @include row;
}
.column{
  @include column;
}

.center{
  justify-content: center;
  align-items: center;
}

a{
  color:$body-font-color;
  cursor: pointer;
}

a.button{
  color:black;
  font-size:14px;
  font-weight: bold;
  background:white;
  border-radius: 5px;
  max-width: 370px;
  width:100%;
  padding:1.4em 1em;
  text-align: center;
  filter: $shadow;
}

header{
  @include row;
  justify-content: space-between;
  position: absolute;
  max-width:1280px;
  top:0;
  left:0;
  right:0;
  margin: 0 auto;
  padding: $content-hpadding $content-hpadding;
  @include breakpoint(lg){
    padding: $masthead-vpadding $masthead-hpadding;
  }
}
.header{
  @include section-header;
  text-transform: capitalize;

}
a{
  &.button{ 
    text-decoration: none;
    filter:none;
    color:white;
    background: $wallet-button-gradient;
  }
  &.center{
    display:block;
    margin: 0 auto;
  }
}

a.button{
  width: 230px;
}
footer{
  @include column;
  align-items: center;
  background:$footer-bg-color;
  text-align: center;
  width:100%;
  padding:1em;

  & a+a:before{
    content: '|';
    padding:0 $content-hpadding;;
  }

  & p+p{
    margin-top:1em;
  }
}

.nav{
  &-button{
    @include column;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: white;

    @include breakpoint(lg){
      width:65px;
      height:65px;
    }

    & > div {
      pointer-events: none;
    }
    & span{
      display:block;
      background:black;
      height:2px;
      border-radius: 5px;
      width:18px;
      transition: transform 1s, opacity 1s;
      transform-origin: left center;

      &+span{
        margin-top:4px;
      }
      &:nth-child(2){
        opacity: 1;
        transform: scaleX(.6)
      }
      &:last-child{
        transform: scaleX(.8)
      }
    }

    &.active{
      span{
        margin-top:0;
        &:first-child{
          transform: translate(1px,-5px) scaleX(1.5) rotate(55deg)
        }
        &:nth-child(2){opacity:0;}
        &:last-child{
          transform: translate(1px,6px) scaleX(1.5) rotate(-55deg)
        }
      }
    }
  }
}

.profile{
  &-button{
    @include row;
    height:50px;
    border-radius: 65px;
    background:black;
    filter: $shadow;
    transition: background 0.3s;

    @include breakpoint(lg){
      height:65px;
    }

    &.dark{
      background: $wallet-button-gradient;
    }
  }

  & > *{
    pointer-events: none;
  }
  &-image{
    width:50px;
    height:50px;
    border-radius: 100%;
    @include breakpoint(lg){
      width:65px;
      height:65px;
    }
  }

  &-content{
    @include row;
    justify-content: center;
    align-items: center;
    height:100%;
    padding:0 2em;
    
    >*{
      position: relative;
      font-size:0.75rem;
      @include breakpoint(lg){
        line-height: initial;
      }
    }
    > *+*{
      margin-left:50px;
    }
    > *+*:before{
      content:'';
      position: absolute;
      left:-25px;
      display:block;
      height:100%;
      width:2px;
      background:white;
    }

    .user-coins{
      font-size:1.5rem;
      font-weight: bold;
      line-height: 1em;
      @include breakpoint(lg){
        line-height:initial;
      }
    }

    img{
      width:19px;
      height: 19px;
      @include breakpoint(lg){
        width:auto;
        height: auto;
      }
    }
  }
}

#masthead{
  max-width:1280px;
  padding:0;

  & .masthead-content{
    position: absolute;
    top: calc(82px + 1rem);
    left:0;
    @include column;
    padding:0 $content-hpadding;
    @include breakpoint(md){
      top: calc(82px + 2rem);
      padding:0 2rem;
    }
    @include breakpoint(lg){
      top:0;
      bottom:0;
      width:50%;
      justify-content: center;
      padding:0 $masthead-hpadding;
    }
    & h1{
      margin-bottom:.5em;
      font-size: 1.285rem;

      @include breakpoint(md){
        font-size: 2.375rem;
      }
    }
  }
}

.container {
  @include column;
  position: relative;
  max-width: $content-max-width;
  width:100%;
  padding: 0 $content-hpadding;
  @include breakpoint(md){
    padding: 0 2em;
  }
}

.campaign-section{
  align-items: center;
}

.campaign-section:nth-child(2) {
  margin-top: 2em;
}
.campaign-section:last-child {
  margin-bottom: 3em;
}

.campaign-section + .campaign-section:before{
  content:'';
  width:100%;
  height:2px;
  background: $secondary-color;
  margin:2em 0;
}

.campaign-period{
  font-size:26px;
  font-weight: bold;
  margin-top:.5em;
}

.campaign-section{
  .header{
    @include section-header;
  }
}

.prize-item{
  border: 2px solid $secondary-color;
  border-radius: 20px;

  & img{
    height:154px;
    width:100%;
    object-fit: cover;
    @include breakpoint(lg){
      height:280px;
    }
  }

  & .prize-description{
    font-size:1rem;
    height:calc(251px - 154px);
    padding:1em 20px;
    border-top:2px solid $secondary-color;
    @include breakpoint(lg){
      font-size:20px;
      height:calc(414px - 280px);
    }
  }
}

.prize-swiper{
  width:100%;
  position: relative;
  margin:2em 0;
  overflow: visible !important;

  &-pagination{
    text-align: center;
    margin-top:20px;
    position: relative;
    bottom:0 !important;
    & &-bullet{
      position: relative;
      background:$secondary-color;
      width:15px;
      height:15px;
      display: inline-block;
      border-radius: 100%;
      &-active{
        background:white;
      }
    }
    & > *+*{
      margin-left:40px;
      &:before{
        content:'';
          display:block;
          position: absolute;
          top: calc(15px / 2);
          right:15px;
          margin: auto 0;
          height:1px;
          width:40px;
          background:$secondary-color;
      }
    }
    
  }
}

.howitworks{
  @include row;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;

  &-item{
    @include column;
    align-items: center;
    padding: 2em;
    width:100%;
    @include breakpoint(md){
      padding: 1em;
      width:33%;
    }
  
    & img{
      margin:1.5em 0;
      flex:1;
    }
  }

  &-number{
    @include row;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
    font-size:16px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 100%;

    @include breakpoint(md){
      width:50px;
      height: 50px;
      font-size:22px;
      border: 2px solid white;
    }
  }
}

.login-box{
  > *+*{
    margin-top: 2em;
  }
  a.social-button{
    position: relative;
    max-width: 304px;
    width:100%;
    height: 48px;
    @include row;
    align-items: center;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    &.fb{
      background: #1877F2;
    }
    &.line{
      background: #00C300;
    }
    &.google{
      background: white;
      color:black;
    }
    &.email{
      background: #880012;
    }
    > span{
      flex:1;
      text-align: center;
      margin-right:.5em;
      
    }
  }
  .ic{
    position: relative;
    display:inline-block;
    height:100%;
    width:40px;
    margin: 0 1em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &-fb{
      background-image: url('/img/ic-fb.svg');
    }
    &-line{
      background-image: url('/img/ic-line.svg');
      &:after{
        content:'';
        position: absolute;
        display:block;
        height:100%;
        right:-1em;
        border-right:2px solid #00B300;
      }
      
    }
    &-google{
      background-image: url('/img/ic-google.svg');
    }
    &-email{
      background-image: url('/img/ic-email.svg');
    }
  }
}

form {
  max-width: 340px;
  width:100%;
  margin: 0 2em;
  input{
    width:100%;
    background:none;
    border:0;
    border-bottom:1px solid white;
    width:100%;
    font-size: 20px;
    color:white;
    padding: .5em 0;
  }
  .top{
    justify-content: flex-start;
  }
  .checkbox{
    margin-right:1em;
    label{
      position: relative;
      display:block;
      width:22px;
      height: 22px;
      border:2px solid white;
      border-radius: 100%;
      cursor: pointer;
    }
    input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ span{
        position: absolute;
        display:block;
        width:14px;
        height:14px;
        background:white;
        border-radius: 100%;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
      }
    }
    
  }
}
.wallet, .rewards, .privacy, .tnc, .register, .login, .help{
  padding-top: 115px;
}
.slider-header{
  @include row;
  align-items: center;
  .title{
    display:flex;
    font-size:26px;
    font-weight: bold;
    font-family:$header-fontfamily;
    margin-right:1em;
  }
  &:after{
    content: '';
    display:inline-block;
    height:1px;
    flex:1;
    background-color:#585858;
  }
}
.wallet{
  padding-top:115px;

  .container{
    max-width:1280px;
    padding: $content-hpadding $content-hpadding;
    @include breakpoint(lg){
      padding: $masthead-vpadding $masthead-hpadding;
    }
  }

  .header{
    @include section-header;
    text-align:left
  }

  .slider-header{
    @include row;
    align-items: center;
    .title{
      display:flex;
      font-size:26px;
      font-weight: bold;
      font-family:$header-fontfamily;
      margin-right:1em;
    }
    &:after{
      content: '';
      display:inline-block;
      height:1px;
      flex:1;
      background-color:#585858;
    }
  }

  a{
    &.button{ 
      text-decoration: none;
      filter:none;
      color:white;
      background: $wallet-button-gradient;
    }
    &.center{
      display:block;
      margin: 0 auto;
    }
  }
  //wallet-page -v

  a.button{
    width: 230px;
  }

}

.wallet-swiper{
  margin: 30px 0;
  overflow:visible !important;

  .bg{
    background: $wallet-button-gradient;//linear-gradient(0deg, rgba(59,59,59,1) 12%, rgba(122,122,122,1) 40%, rgba(16,16,16,1) 100%);
  }
  
  .wallet-swiper-item{
    @include column;
    border-radius: 20px;
    
    & img{
      border-radius: 20px 20px 0 0;
      background:black;
      height:154px;
      width:100%;
      object-fit: cover;
      @include breakpoint(lg){
        height:293px;
      }
    }

    & .description{
      @include column;
      border-radius: 0 0 20px 20px;
      flex:1;
      padding:1em 20px;
      @include breakpoint(lg){
      }
      .name{
        flex:1;
        font-size: 26px;
        font-weight: 300;
        text-overflow: ellipsis;

        &:after{
          content: '';
          display:block;
          margin: .5em 0;
          height:1px;
          background: #585858;
        }
      }
    }

    & .expiry{
      @include row;
      justify-content: flex-end;

      span{
        display:inline-block;

        &:first-child{
          margin-right:1em;
          font-weight: bold;
          font-size: 26px;;
        }
      }
    }
  }
}