@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: text;
}

html,body{
    margin:0;
    padding:0;
    min-height: 100vh;
    color:$body-font-color;
    background:$body-bg-color-wallet;
    font-size:$mobile-body-font-size;
    font-family: $body-fontfamily;

    @include breakpoint(md){
      font-size:$body-font-size;
    }
}
.main-container{
  transition: background .3s;
}

#main{
  overflow-x: hidden;
  min-height: 100vh;
  @include column;
  justify-content: space-between;
}

.wrapper{
  @include column;
  align-items: center;
}
.row{
  @include row;
}
.column{
  @include column;
}

.center{
  justify-content: center !important;
  align-items: center !important;
}

a{
  color:$body-font-color;
  cursor: pointer;
}

a.button{
  color:black;
  font-size:14px;
  font-weight: bold;
  background:white;
  border-radius: 5px;
  max-width: 370px;
  width:100%;
  padding:1.4em 1em;
  text-align: center;
  filter: $shadow;
}

header{
  @include row;
  justify-content: space-between;
  position: absolute;
  max-width:100%;
  top:0;
  left:0;
  right:0;
  margin: 0 auto;
  padding: $content-hpadding $content-hpadding;
  padding: 50px 50px;
  @include breakpoint(lg){
    /*padding: $masthead-vpadding $masthead-hpadding;*/
    padding: 50px 50px;

  }
  @media only screen and (max-width: 767px) {
    padding: 20px 10px;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
.header{
  @include section-header;
  text-transform: capitalize;

}
a{
  &.button{
    text-decoration: none;
    filter:none;
    color:white;
    background: $wallet-button-gradient;
  }
  &.center{
    display:block;
    margin: 0 auto;
  }
}

a.button{
  width: 230px;
}
footer{
  position: relative;
  @include column;
  align-items: center;
  background-color:$coke-footer-background-color;
  text-align: center;
  width:100%;
  padding:1em;
  justify-content: center;
  align-items: center;
  .footer-text{
    max-width: 400px;
    margin: auto;
  }

  & a+a:before{
    content: '|';
    padding:0 $content-hpadding;;
  }

  & p+p{
    margin-top:1em;
  }


}
.img-footer{
  position: absolute;
  bottom: -30px;
  left: 0px;
  right: 0px;
  max-width: 1050px;
  margin: auto;
  overflow: visible;
  @media only screen and (max-width: 767px) {
    bottom: -15px;
  }

}

.nav{
  &-button{
    @include column;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: white;

    @include breakpoint(lg){
      width:65px;
      height:65px;
    }

    & > div {
      pointer-events: none;
    }
    & span{
      display:block;
      background:black;
      height:2px;
      border-radius: 5px;
      width:18px;
      transition: transform 0.5s, opacity 0.5s;
      transform-origin: left center;

      &+span{
        margin-top:4px;
      }
      &:nth-child(2){
        opacity: 1;
        transform: scaleX(.6)
      }
      &:last-child{
        transform: scaleX(.8)
      }
    }

    &.active{
      span{
        margin-top:0;
        &:first-child{
          transform: translate(1px,-5px) scaleX(1.5) rotate(55deg)
        }
        &:nth-child(2){opacity:0;}
        &:last-child{
          transform: translate(1px,6px) scaleX(1.5) rotate(-55deg)
        }
      }
    }
  }
}

.profile{
  &-button{
    @include row;
    height:50px;
    border-radius: 65px;
    background:black;
    filter: $shadow;
    transition: background 0.3s;
    z-index: 12;
    @include breakpoint(lg){
      height:65px;
    }

    &.dark{
      background: $wallet-button-gradient;
    }
  }

  & > *{
    pointer-events: none;
  }
  &-image{
    width:50px;
    height:50px;
    border-radius: 100%;
    @include breakpoint(lg){
      width:65px;
      height:65px;
    }
  }

  &-content{
    @include row;
    justify-content: center;
    align-items: center;
    height:100%;
    padding:10px 50px;

    >*{
      position: relative;
      font-size:0.75rem;
      @include breakpoint(lg){
        line-height: initial;
      }
    }
    > *+*{
      margin-left:50px;
    }
    > *+*:before{
      content:'';
      position: absolute;
      left:-25px;
      display:block;
      height:100%;
      width:2px;
      background:white;
    }

    .user-coins{
      font-size:1.5rem;
      font-weight: bold;
      line-height: 1em;
      @include breakpoint(lg){
        line-height:initial;
      }
    }

    img{
      width:19px;
      height: 19px;
      @include breakpoint(lg){
        width:auto;
        height: auto;
      }
    }
  }
}

#masthead{
  max-width:1280px;
  padding:0;

  & .masthead-content{
    position: absolute;
    top: calc(82px + 1rem);
    left:0;
    @include column;
    padding:0 $content-hpadding;
    @include breakpoint(md){
      top: calc(82px + 2rem);
      padding:0 2rem;
    }
    @include breakpoint(lg){
      top:0;
      bottom:0;
      width:50%;
      justify-content: center;
      padding:0 $masthead-hpadding;
    }
    & h1{
      margin-bottom:.5em;
      font-size: 1.285rem;

      @include breakpoint(md){
        font-size: 2.375rem;
      }
    }
  }
}

.container {
  @include column;
  position: relative;
  max-width: $content-max-width !important;
  overflow: hidden;
  width:100%;
  padding: 0 $content-hpadding;
  @include breakpoint(md){
    padding: 0 2em;
  }
}

.campaign-section{
  align-items: center;

}

.campaign-section:nth-child(2) {
  margin-top: 2em;
}

.campaign-section.submission-section{
  padding-bottom: 280px !important;
  @media only screen and (max-width: 767px) {
    padding-bottom: 200px !important;
  }
  @media only screen and (max-width: 480px) {
    padding-bottom: 100px !important;
  }
}



.campaign-period{
  font-size:26px;
  font-weight: bold;

  @media only screen and (max-width: 767px) {
    font-size:20px;
  }
}

.campaign-section{
  .header{
    @include section-header;
    @media only screen and (max-width: 767px) {
      font-size:22px;
      text-align: center;
    }
  }
}
.prize-swiper-container{
  z-index: 1;
  max-width: 1100px !important;
}

.prize-item{
  position: relative;
  .prize-item-content{
    padding: 10px;
    background-color:$secondary-color;
  }

  .this-week-prize{
    position: absolute;
    left: calc(50% - 100px);
    @media only screen and (max-width: 767px) {
      left: calc(50% - 80px);
    }
    right: 0px;
    top:-15px;
    p{
      background-color:$secondary-color;
      padding: 10px;
      width: 180px;
      @media only screen and (max-width: 767px) {
        width: 140px;
        font-size: 12px;
      }
    }

  }

  & img{
    height:154px;
    width:100%;
    object-fit: cover;
    @include breakpoint(lg){
      height:280px;
    }
  }

  & .prize-description{
    font-size:$mobile-body-font-size;
    height:calc(251px - 154px);
    padding:10px;
    background: $secondary-color;

    @include breakpoint(lg){
      font-size:20px;
      height:calc(414px - 280px);
    }
  }
}

.prize-swiper{
  width:100%;
  position: relative;
  margin:2em 0;
  overflow: visible !important;

  &-pagination{
    text-align: center;
    margin-top:20px;
    position: relative;
    bottom:0 !important;
    & &-bullet{
      position: relative;
      background:$secondary-color;
      width:15px;
      height:15px;
      display: inline-block;
      border-radius: 100%;
      &-active{
        background:white !important;
      }
    }
    & > *+*{
      margin-left:40px;
      &:before{
        content:'';
          display:block;
          position: absolute;
          top: calc(15px / 2);
          right:15px;
          margin: auto 0;
          height:1px;
          width:40px;
          background:$secondary-color;
      }
    }

  }
}

.howitworks{
  @include row;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;

  &-item{
    @include column;
    align-items: center;
    padding: 2em;
    width:100%;
    @include breakpoint(md){
      padding: 1em;
      width:33%;
    }

    & img{
      margin:1.5em 0;
      flex:1;
    }
  }

  &-number{
    @include row;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
    font-size:16px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 100%;

    @include breakpoint(md){
      width:50px;
      height: 50px;
      font-size:22px;
      border: 2px solid white;
    }
  }
}

.login-box{
  > *+*{
    margin-top: 2em;
  }
  a.social-button{
    position: relative;
    max-width: 304px;
    width:100%;
    height: 48px;
    @include row;
    align-items: center;
    border-radius:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    &.fb{
      background: #1877F2;
    }
    &.line{
      background: #00C300;
    }
    &.google{
      background: white;
      color:black;
    }
    &.email{
      background: #880012;
    }
    > span{
      flex:1;
      text-align: center;
      margin-right:.5em;

    }
  }
  .ic{
    position: relative;
    display:inline-block;
    height:100%;
    width:40px;
    margin: 0 1em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &-fb{
      background-image: url('/img/ic-fb.svg');
    }
    &-line{
      background-image: url('/img/ic-line.svg');
      &:after{
        content:'';
        position: absolute;
        display:block;
        height:100%;
        right:-1em;
        border-right:2px solid #00B300;
      }

    }
    &-google{
      background-image: url('/img/ic-google.svg');
    }
    &-email{
      background-image: url('/img/ic-email.svg');
    }
  }
}

form {
  max-width: 340px;
  @media only screen and (max-width: 767px) {
    max-width: 300px;
  }
  width:100%;
  margin: 0 2em;
  margin-top: 40px;
  .details{
    margin-bottom:30px;
    &.receipt{
      margin-top: 40px;
    }
  }
  .consent{
    .terms{
      line-height: 28px;
    }
  }

  input{
    width:100%;
    background:none;
    border:0;
    border-bottom:1px solid white;
    width:100%;
    font-size: 16px;
    color:white;
    padding: .5em 0;
  }
  input::placeholder {
    color:white;
  }
  input:focus {
    outline: none;
  }
  .top{
    justify-content: flex-start;
  }
  .checkbox{
    margin-right:1em;
    label{
      position: relative;
      display:block;
      width:22px;
      height: 22px;
      border:2px solid white;
      border-radius: 100%;
      cursor: pointer;
    }
    input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ span{
        position: absolute;
        display:block;
        width:14px;
        height:14px;
        background:white;
        border-radius: 100%;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
      }
    }

  }
}
.wallet, .rewards, .privacy, .tnc, .register, .login, .help, .account, .coins, .congratulations{
  padding-top: 150px;
}
.button-container{
  margin-top: 40px;
  a.button{
      width: 230px;
      display: block;
  }
}
.slider-header{
  @include row;
  align-items: center;
  .title{
    display:flex;
    font-size:26px;
    font-weight: bold;
    font-family:$header-fontfamily;
    margin-right:1em;
    @media only screen and (max-width: 767px) {
      font-size:22px;
    }

  }
  &:after{
    content: '';
    display:inline-block;
    height:1px;
    flex:1;
    background-color:#585858;
  }
}
.wallet{
  padding-top:115px;

  .container{
    max-width:1280px;
    padding: $content-hpadding $content-hpadding;
    @include breakpoint(lg){
      padding: $masthead-vpadding $masthead-hpadding;
    }
  }

  .header{
    @include section-header;
    text-align:left
  }

  .slider-header{
    @include row;
    align-items: center;
    .title{
      display:flex;
      font-size:26px;
      font-weight: bold;
      font-family:$header-fontfamily;
      margin-right:1em;
    }
    &:after{
      content: '';
      display:inline-block;
      height:1px;
      flex:1;
      background-color:#585858;
    }
  }

  a{
    &.button{
      text-decoration: none;
      filter:none;
      color:white;
      background: $wallet-button-gradient;
    }
    &.center{
      display:block;
      margin: 0 auto;
    }
  }
  //wallet-page -v

  a.button{
    width: 230px;
  }

}

.wallet-swiper{
  margin: 30px 0;
  overflow:visible !important;

  .bg{
    background: $wallet-button-gradient;//linear-gradient(0deg, rgba(59,59,59,1) 12%, rgba(122,122,122,1) 40%, rgba(16,16,16,1) 100%);
  }

  .wallet-swiper-item{
    @include column;
    border-radius: 20px;

    & img{
      border-radius: 20px 20px 0 0;
      background:black;
      height:154px;
      width:100%;
      object-fit: cover;
      @include breakpoint(lg){
        height:293px;
      }
    }

    & .description{
      @include column;
      border-radius: 0 0 20px 20px;
      flex:1;
      padding:1em 20px;
      @include breakpoint(lg){
      }
      .name{
        flex:1;
        font-size: 26px;
        font-weight: 300;
        text-overflow: ellipsis;

        &:after{
          content: '';
          display:block;
          margin: .5em 0;
          height:1px;
          background: #585858;
        }
      }
    }

    & .expiry{
      @include row;
      justify-content: flex-end;

      span{
        display:inline-block;

        &:first-child{
          margin-right:1em;
          font-weight: bold;
          font-size: 26px;;
        }
      }
    }
  }
}



//theming

.coke{
  #main.home, #main.winner-detail{
    background-color:$coke-primary-color;
    .campaign-period, .header, .title{
      color:$coke-font-heading-color;
    }
    footer{
      background-color:$coke-footer-background-color;
      color:$coke-font-footer-color;
      a{
        color:$coke-font-footer-color;
      }
    }
    .box{
      background-color: #1d1d1b;
      color:$coke-font-footer-color;
      border-color: $coke-border-color;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined),a.button  {
      background:$coke-button-background-color ;
      color:$coke-button-font-color;
    }

    .campaign-section + .campaign-section:before{
      background-color:$coke-border-color;
    }
    .prize-item {
      border-color:$coke-prize-border-color;
      .prize-description{
        border-color:$coke-prize-border-color;
      }
    }
    .prize-swiper-pagination .prize-swiper-pagination-bullet,.prize-swiper-pagination > * + *:before {
      background :$coke-prize-pagination-color;
    }
  }
}
 .sprite{
  #main.home, #main.winner-detail{
    background-color:$sprite-primary-color;
    .campaign-period, .header, .title{
      color:$sprite-font-heading-color;
    }
    footer{
      background-color:$sprite-secondary-color;
      color:$sprite-font-footer-color;
      a{
          color:$sprite-font-footer-color;
      }
    }
    .box{
      background-color:$sprite-secondary-color;
      color:$sprite-font-footer-color;
      border-color: $sprite-border-color;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) , a.button {
      background:$sprite-button-background-color !important;
      color:$sprite-button-font-color !important;
    }
    .campaign-section + .campaign-section:before{
      background-color:$sprite-border-color;
    }
    .prize-item {
      border-color:$sprite-prize-border-color;
      .prize-description{
        border-color:$sprite-prize-border-color;
      }
    }
    .prize-swiper-pagination .prize-swiper-pagination-bullet,.prize-swiper-pagination > * + *:before {
      background :$sprite-prize-pagination-color;
    }
  }
}

 .fanta{
  #main.home, #main.winner-detail{
    background-color:$fanta-primary-color;
    .campaign-period, .header, .title {
      color:$fanta-font-heading-color;
    }

    footer{
      background-color:$fanta-secondary-color;
      color:$fanta-font-footer-color;
        a{
          color:$fanta-font-footer-color;
      }
    }
    .box{
      background-color:$fanta-secondary-color;
      color:$fanta-font-footer-color;
      border-color: $fanta-border-color;
    }
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined), a.button {
      background:$fanta-button-background-color !important;
      color:$fanta-button-font-color !important;
    }
    .campaign-section + .campaign-section:before{
      background-color:$fanta-border-color;
    }
    .prize-item {
      border-color:$fanta-prize-border-color;
      .prize-description{
        border-color:$fanta-prize-border-color;
      }
    }
    .prize-swiper-pagination .prize-swiper-pagination-bullet,.prize-swiper-pagination > * + *:before {
      background :$fanta-prize-pagination-color;
    }
  }
}

//new landing page
//campaign period

.redbox-withwhiteborder{
  background-color: $coke-secondary-color;
  border: solid 20px #ffffff;
  overflow: visible;
}

.campaign-period-section, .winner-details{

  padding-bottom: 80px !important;
  .tagline{
    font-size: 94px;
    font-family: $tagline-fontfamily;
    font-weight: bold;
    line-height: 90px;
  }
  .logo-title{
    padding:20px;
  }
  .logo{
    width: 150px;
  }

  .desc-container{
    padding-top: 20px !important;
    padding-right: 20px !important;
    .periode-container{
      text-align: center;
    }
    .period-desc-container{
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .participate-image-container{
       border: solid 1px #ffffff;
       justify-content: center;
       text-align: center;
       padding: 20px;
       margin-bottom: 0px;
       .participate-image{
         max-height: 150px;
         max-width: 100%;
       }
    }
    .participate-text-container{
      justify-content: center;
       text-align: center;

        margin-bottom: 20px;
        h4{
          font-size: 30px;
          margin-bottom: 20px;
        }
        p{
          padding-right: 8px;
          padding-left: 8px;
        }
    }
  }

}

  @media only screen and (max-width: 600px) {
    .redbox-withwhiteborder{
      border: solid 10px #ffffff;
      padding-top: 40px !important;
    }

    .campaign-period-section, .winner-details{

      padding-bottom: 20px !important;
      .tagline{
        font-size: 50px;
        line-height: 50px;
      }
      .logo-title{
        padding:0px;
        padding-left: 10px;
        justify-content: center;
        align-items: center;
      }
      .logo{
        width: 90px;

      }
      .desc-container{
        .participate-image-container{
          margin-bottom: 20px;
          .participate-image{
            max-height: 80px;
          }
        }
        .participate-text-container{
            padding-left: 20px;
            text-align: left;
            h4{
              font-size: 20px;
              margin-bottom: 0px;
            }
            p{
              padding-right: 0px;
              padding-left: 0px;
            }

        }
      }
    }

  }
  .center-layout{
    justify-content: center;
    align-items: center;

  }

  //prize-section

.prize-section{
  background-color: #1d1d1b;
  position: relative;
  .background-image{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    img{
      width: 100%;
    }

}
  .joox-container{
    z-index: 1;
    text-align: center;
    .joox-image{
      @media only screen and (max-width: 600px) {
        padding: 10px;
      }

      margin-top: 30px;
      margin-bottom: 40px;
      img{
        border: solid 20px #de0a1c;
        width: 100%;
        max-width: 700px;
      }
    }
  }
}
.submission-section{
  padding: 0px !important;
  .divider{
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.black-red-border{
  background-color: #1d1d1b;
  border:solid 20px $coke-secondary-color;
  @media only screen and (max-width: 600px) {
    border:solid 10px $coke-secondary-color;
  }
}

.black-background{
  background-color: #1d1d1b;

}

.myrewards{
  .wrapper{
    width: 100%;
    max-width:600px ;

    margin-left: auto;
    margin-right:auto;
    position: relative;
}
  .wrapper .title{
     margin-top: 80px;
     margin-bottom: 150px;
     font-size: 20px;
     @media only screen and (max-width: 600px) {
      margin-top: 60px;
      margin-bottom: 80px;
      font-size: 16px;
    }
     z-index: 1;

     text-align: center;
 }
  .background-image{
     position: absolute;
     top:0px;
     z-index: 0;
}
  .rewards-area{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
}
}

.prize-chance{
  overflow-x: hidden;
  min-height: 80vh;
  .wrapper{
    margin-top: auto;
    margin-bottom: auto;
    .prize-title,.prize-note-two{
      z-index: 1;
      overflow: visible;
      position: relative;
    }

    .prize-inner-wrapper{
      width: 100%;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .prize-button-area{
        text-align: center;
      }
      .prize-background-two{
        position: absolute;
        top: -55%;
        left: -10%;
        z-index: 0;
        @media only screen and (max-width: 600px) {
          top: -5%;
        }
      }
      .prize-note-two{
        width: 250px;
        text-align: center;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;

      }

      .prize-content{
        min-height:100px;
        margin-top: 30px;
        overflow: visible;
        z-index: 1;
        position: relative;

        .prize-desc-wrapper{
          justify-content: center;
          align-items: center;
          margin: auto;
          .prize-background{
            position: absolute;
            @media only screen and (max-width: 1000px) {
              top: 0px;
            }
            top: 10px;
            z-index: -1;
          }
          .prize-desc{
            max-width: 300px;
            margin: auto;
            z-index: 1;
            .desc-text{

              margin-right: 40px;
              @media only screen and (max-width: 700px) {
                margin-right: 10px;
              }
              h1{
                padding-bottom: 10px;
                @media only screen and (max-width: 600px) {
                  font-size: 14px;
                }
              }
              p{
                padding-top: 10px;
                font-weight: bold;
              }
            }

          }

        }

      }
      .prize-note{
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 40px;
      }
      .theme--light.v-btn.v-btn--has-bg {
        background-color: red;
        color:#fff;
        padding: 30px;
      }

    }



  }

}

.coke #main.home .prize-button-area .theme--light.v-btn{
  background-color: red !important;
        color:#fff !important;
        padding: 30px;
}
