$primary-color:#B10017;
$secondary-color:#DB1F27;

$body-font-color:white;
$body-font-size: 16px;
$body-bg-color:$primary-color;
$footer-bg-color:$secondary-color;

$content-max-width:978px;

$masthead-vpadding: 25px;
$masthead-hpadding: 50px;

$shadow: drop-shadow(4px 4px 8px rgba(0,0,0,.25));